
body {
 background: black;
 color: white;
 font-family: helvetica;
}

header {
 text-align: center;
 background: url("https://kegans.github.io/dark_polygon06.png");
 background-size: cover;
}

ul {
 padding: 10px;
}

li {
 display: inline;
 padding: 0px 10px 0px 10px;
}

p {
 font-size: 22px;
}
