html, body {
 margin: 0px;
 padding: 0px;
}

body {
 background: black;
 font-family: helvetica;
}

header {
 text-align: center;
 color: white;
 background: url("https://kegans.github.io/dark_polygon06.png");
 background-size: cover;
 margin-top: 0px;
}

a {
 color: white;
}

h1 {
 font-size: 70px;
}

ul {
 padding: 10px;
 background: teal;
}

li {
 display: inline;
 padding: 0px 10px 0px 10px;
}

 article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }

p {
 font-size: 22px;
}

@media {
 
 h1 { 
  font-size: 36px;
 }
 
 li {
  display: block;
  padding: 5px;
 }
 
}
