 
 body {
      background-color: silver;
    }
    
    
    .inner-box {
     background-color: white;
     text-align: center;
     padding: 10px;
     margin: auto;
     width: 60%;
    }
    
    .box {
      text-align: center;
    }
    
    .smaller-image {
      width: 200px;
    }
    
    .medium-image {
      width: 600px;
      margin: 20px;
    }
    
    .thin-black-border {
      border-color: black;
      border-width: 0px;
      border-style: solid;
      border-radius: 20%;
    }
    
    .silver-background {
     background-color: silver;
     width: 50%;
    }
    
    .banner {
      padding: 20px;
      margin: 5px -5px 5px -5px;
      background-color: black;
    }
    
    .name-photo {
      padding: 10px;
    }
    
    .list {
      text-align: left;
      padding: 5px;
      margin-right: 10px;
      margin-left: 10px;
    }
    
    .form {
      padding: 5px;
      margin-right: 10px;
      margin-left: 10px;
    }
    
    #digital-marketing-form {
      background-color: orange;
      margin: 10px;
    }
